<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - داشبورد</title>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- font -->
    <link href="~/css/fonts.css" rel="stylesheet" />

</head>
<body class="bg-gray-100 text-gray-900">
    <div class="flex min-h-screen">
        <!-- Sidebar -->
        @await Html.PartialAsync("_Sidebar")

        <!-- Main content -->
        <div class="flex-1 flex flex-col">
            <!-- Top Navbar -->
            @await Html.PartialAsync("_Navbar")

            <!-- Page content -->
            <main class="p-6">
                @RenderBody()
            </main>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
