/* page header */
.page-header {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    gap: 13rem;
    margin-bottom: 1.7rem;
}

.page-header-title-box {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5rem;
}

.page-header-title {
    font-size: 1.5rem;
    font-weight: 900;
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

/* tracks list */
.track {
    border-radius: 1.1rem;
    background: #1c1f26;
    padding: 0.6rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 0.9rem;
    align-items: center;
}

.track-thumb {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
}

.track-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.track-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track-name {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 800;
}

.track-artist {
    color: #aaa;
    font-size: 0.8rem;
    font-weight: 500;
}

.track-buttons,
.track-header > .btn.queue {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

/* buttons */
.btn {
    border: none;
    border-radius: 0.5rem;
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.btn.status.playing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background: #0c0f14;
    color: #fff;
    white-space: nowrap;
    padding: 0.3rem 0.8rem;
}

.btn.status.playing span,
.btn.request span,
.btn.queue span {
    font-size: 1rem;
}

.btn-status-txt {
    display: flex;
    align-items: center;
}

.btn.request,
.btn.queue {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn.request,
.btn.your-request {
    background: #d17842;
    color: #fff;
}

.btn.queue {
    background: #0c0f14;
    color: #ccc;
}

/* progress bar */
.progress-wrap {
    height: 0.2rem;
    background: #444;
    border-radius: 0.2rem;
    overflow: hidden;
}

.progress-wrap .progress {
    display: block;
    height: 100%;
    background: #d17842;
    transition: width 0.3s;
}

.track.in-queue .progress-wrap .progress {
    background: #555;
}

/* Time labels */
.track-times {
    display: flex;
    justify-content: space-between;
    color: #ccc;
    margin-left: 0.3rem;
}

.track.in-queue .track-times .current {
    display: none; /* only show duration on queued tracks */
    font-size: 0.6rem;
    font-weight: 500;
}

/* special backgrounds */
.track.now-playing {
    background: #262b33;
}

.track.in-queue {
    background: #1a1d24;
}

/* Search bar */
.icon-button {
    all: unset;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.search-bar-container {
    background-color: #13171e;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.search-bar {
    background-color: #0c0f14;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.3rem 1.4rem 5.2rem;
    padding: 1.25rem 1.6rem;
    z-index: 10;
    border-radius: 1.5rem;
    display: flex;
}

.search-bar input {
    border: none;
    border-radius: 1.5rem;
    background-color: #0c0f14;

    flex-grow: 1;
    background-color: #0c0f14;
}

.search-bar input::placeholder {
    color: #52555a;
    font-size: 1rem;
    font-weight: 500;
}

/* Modal Search Bar */
/* hidden by default */
.modal-search-bar-container {
    padding: 2.4rem 1.4rem 2.8rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
    z-index: 9999;
}

.search-modal {
    position: fixed;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 100%;
    max-height: 45vh;
    background: #fff;
    z-index: 10000;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}
.modal-content {
    overflow-y: auto;
    flex-grow: 1;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.search-modal.active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.modal-search-bar {
    background-color: #f3f6fc;
    z-index: 10;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem 1.6rem;
    border-radius: 1.5rem;
}

.modal-search-icon {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}

.modal-search-input {
    border: none;
    background: transparent;
    flex: 1;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    text-align: right;
}

/* Section Title */
.modal-section-title {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    margin: 0 1.4rem 1rem;
}

.modal-section-title h3 {
    color: #000;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.modal-search-icon {
    font-size: 12rem;
}

/* Search Result Cards */
.search-results {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 1.4rem;
    margin-bottom: 3.1rem;
}

.search-card {
    background-color: #e8ecf3;
    border-radius: 1.8rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-card-info-container {
    display: flex;
    gap: 0.7rem;
}

.search-card-time {
    background-color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 0.8rem;
    font-weight: bold;
    font-size: 0.75rem;
    color: #333;
    margin-left: 0.5rem;
}

.search-song-info {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-right: 0.2rem;
}

.search-song-title {
    font-size: 1.2rem;
    font-weight: 800;
    color: #222;
}

.search-artist {
    font-size: 0.8rem;
    font-weight: 500;
    color: #777;
}

.search-thumb {
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 0.6rem;
    object-fit: cover;
}

.search-card-duration {
    color: #000;
    background-color: #f3f6fc;
    justify-self: flex-end;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4rem 0.8rem;
    text-align: center;
}

.search-card-link span {
    color: #0c8ce9;
    font-size: 0.8rem;
    font-weight: 500;
}

/* ********************************************* */
/* Responsive */
/* ********************************************* */

@media (min-width: 425px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}
